.header {
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.header2 {
    padding: 10px;
    color: orange;
    font-size: 20px;
}

.text {
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: blue;
}

.roman {
    list-style-type: upper-roman;
}

.roman li::marker {
    color: blue;
}

.footer {
    text-align: left;
    color: blue;
    font-size: 15px;
}