.header {
    text-align: center;
    background-color: rgb(0, 0, 168);
    color: white;
    margin-bottom: 5px;
}

.header1 {
    text-align: center;
}

.header2 {
    text-decoration: underline;
    font-size: 20px;
}

.text {
    text-align: center;
}

.container {
      display: flex;
      min-height: 100vh;
    }

.sidebar {
    width: 250px;
    background: #78bafc55;
    color: blue;
    padding: 20px;
    border: 2px;
}

.main {
    flex: 1;
    background: #ecf0f1;
    padding: 20px;
    margin-left: 5px;
}

.list {
    list-style-type: square;
    color: black;
}