.header {
    text-align: center;
    color:  green;
    font-size: 30px;
    font-weight: bold;
}

.all {
    border: 2px solid white; 
    box-shadow: 4px 4px 10px black; 
    width: 700px;
    overflow-y: scroll;
}

.table {
    background-color: rgba(255, 255, 0, 0.227);
    width: 90%;
    text-align: left;
    line-height: 30px;
    border-collapse: collapse;
    border-color: black;
    margin: 20px;
}

.tdhidden {
    text-align: center;
    color: rgba(255, 0, 0, 0.6);
}

.text {
    color: rgb(0, 106, 255);
}

.field {
    color: brown;
    border-color: brown;
    width: 400px;
    margin: auto;
    text-align: center;
}
